body {
}

.deleteRecipe {
    color:red;font-family:Verdana;
}

.validatorError {color: red; font-weight:bold;}

#Header1 { font-weight:bold;color:brown;}

#Header2 { color:brown;}

#top {  text-align:center; width: 700px ; margin-left: auto ; margin-right: auto ;}
.menubar {
    text-decoration:none;
    color:brown;
}
#greidview { width: 1000px ; margin-left: auto ; margin-right: auto ; }
.greidview1 {text-align:center;}
#aboutus {text-align:center; width: 600px ; padding:5px; margin-left: auto ; margin-right: auto ; border:solid;border-width:thin; border-color:coral;}


#detailview { width: 1000px ; margin-left: auto ; margin-right: auto ; }
.detailviewField {text-align:right;}